<h1><%= @user.username %></h1>
<div class="row">
	<div class="span4">
		<div class="hero-unit">
			<h2><%= @user.username %></h2>
		</div>
	</div>
	<div id="span6 offset6">
		<div class="hero-unit">
			<p>About:</p>
		</div>
	</div>
</div>