<% if logged_in?%>
<div class="hero-unit">
	<h1>Twitta</h1>
	<p>So much better than twitter, because thats how we roll.</p>
</div>
<% else %>
<div class="hero-unit">
	<h1>Twitta</h1>
	<p>So much better than twitter, because thats how we roll.</p>
	<a href="new" class="btn btn-primary btn-large">Join Now</a>
</div>
<% end%>

